extends ../layouts/dashboard.pug

block content
  div.container
    div.section
      h2.title.is-4 Stories by #{user.displayName}

      if stories.length > 0
        div.columns
          each story in stories 
            div.column
              div.card
                div.card-header
                  p.card-header-title #{story.title}
                div.card-content
                  div.content #{story.body}
                div.card-footer
                  a.card-footer-item(href=`/stories/show/${story._id}`) Read more
      else 
        p.notification.is-link.is-light There are no stories to display