.nav-padding {
  padding: 2rem;
}

.story-title {
  margin-bottom: 0.75rem !important;
}

.story-info {
  /* margin-bottom: 0.75rem !important; */
}

/* .delete-form {
  padding: 0 !important;
}

.delete-button {
  width: 100%;
  height: 100%;
} */
